{% extends "DadaCMSBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Create a new category{% endblock %}
{% block content %}
    <h3>Creating a new category</h3>
    {{ form(form) }}
{% endblock %}