{% extends "DadaCMSBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Create a new page{% endblock %}
{% block content %}
    <h3>Creating a new page</h3>
    {{ form(form) }}
{% endblock %}