{% extends "DadaCMSBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Home{% endblock %}
{% block content %}
<nav>
    <h3>Tools</h3>
    <ul>
        <li>Create a new page</li>
        <li>More to come</li>
    </ul>
</nav>
<h3>List of available pages</h3>
<ul>
    <li>No pages</li>
</ul>
{% endblock %}