<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <title>DadaCMS − {% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <h1>DadaCMS</h1>
    <h4>This is a default layout.  Please replace it!!</h4>
</header>
<p class="ariane"><a href="{{ path('dada_cms_homepage') }}">Homepage</a></p>
<section id="main">
    {% block content %}{% endblock %}
</section>
<footer>
    <p>Coded proudly by <a href="https://github.com/chindit">Chindit</a></p>
    <p>W3C compliant</p>
</footer>
</body>
</html>